.vscode/settings.json
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/output.tga
build/test.exe
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.c
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.14.7/CMakeCCompiler.cmake
build/CMakeFiles/3.14.7/CMakeCXXCompiler.cmake
build/CMakeFiles/3.14.7/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.14.7/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.14.7/CMakeRCCompiler.cmake
build/CMakeFiles/3.14.7/CMakeSystem.cmake
build/CMakeFiles/3.14.7/CompilerIdC/a.exe
build/CMakeFiles/3.14.7/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.14.7/CompilerIdCXX/a.exe
build/CMakeFiles/3.14.7/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/test.dir/build.make
build/CMakeFiles/test.dir/cmake_clean.cmake
build/CMakeFiles/test.dir/CXX.includecache
build/CMakeFiles/test.dir/depend.internal
build/CMakeFiles/test.dir/depend.make
build/CMakeFiles/test.dir/DependInfo.cmake
build/CMakeFiles/test.dir/flags.make
build/CMakeFiles/test.dir/includes_CXX.rsp
build/CMakeFiles/test.dir/link.txt
build/CMakeFiles/test.dir/linklibs.rsp
build/CMakeFiles/test.dir/main.cpp.obj
build/CMakeFiles/test.dir/objects.a
build/CMakeFiles/test.dir/objects1.rsp
build/CMakeFiles/test.dir/progress.make
build/src/cmake_install.cmake
build/src/libsource_lib.a
build/src/libsource_lib.dll
build/src/libsource_lib.dll.a
build/src/Makefile
build/src/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/CMakeFiles/progress.marks
build/src/CMakeFiles/source_lib.dir/build.make
build/src/CMakeFiles/source_lib.dir/cmake_clean_target.cmake
build/src/CMakeFiles/source_lib.dir/cmake_clean.cmake
build/src/CMakeFiles/source_lib.dir/CXX.includecache
build/src/CMakeFiles/source_lib.dir/depend.internal
build/src/CMakeFiles/source_lib.dir/depend.make
build/src/CMakeFiles/source_lib.dir/DependInfo.cmake
build/src/CMakeFiles/source_lib.dir/flags.make
build/src/CMakeFiles/source_lib.dir/includes_CXX.rsp
build/src/CMakeFiles/source_lib.dir/link.txt
build/src/CMakeFiles/source_lib.dir/linklibs.rsp
build/src/CMakeFiles/source_lib.dir/model.cpp.obj
build/src/CMakeFiles/source_lib.dir/objects.a
build/src/CMakeFiles/source_lib.dir/objects1.rsp
build/src/CMakeFiles/source_lib.dir/progress.make
build/src/CMakeFiles/source_lib.dir/tgaimage.cpp.obj
output/output.tga
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-2954b2d1abe6aeb7eb7f.json
build/.cmake/api/v1/reply/codemodel-v2-a19b9b97750e08970168.json
build/.cmake/api/v1/reply/index-2021-07-24T01-22-18-0421.json
build/.cmake/api/v1/reply/target-source_lib-Debug-c711c670b4616e26fb4d.json
build/.cmake/api/v1/reply/target-test-Debug-a50e44111170df7a0fea.json
build/.cmake/api/v1/reply/codemodel-v2-c25a41f67e063709522f.json
build/.cmake/api/v1/reply/index-2021-07-29T08-28-51-0788.json
build/.cmake/api/v1/reply/target-source_lib-Debug-dc8f8fc745ffa98684d1.json
build/.cmake/api/v1/reply/target-test-Debug-dd0c07cf26a422b04dbc.json
build/src/CMakeFiles/source_lib.dir/geometry.cpp.obj
build/src/CMakeFiles/source_lib.dir/mygl.cpp.obj
other_stuff/command.txt
output/model_tri_zbuffer.png
output/zbuffer.tga
build/.cmake/api/v1/reply/index-2021-08-03T08-46-04-0195.json
output/zbuffer.tga
output/zbuffer.tga
build/.cmake/api/v1/reply/index-2021-08-10T09-29-51-0722.json
output/zbuffer.tga
output/zbuffer.tga
build/.cmake/api/v1/reply/index-2021-08-18T09-18-57-0394.json
build/.cmake/api/v1/reply/index-2021-08-19T05-43-41-0340.json
output/zbuffer.tga
build/.cmake/api/v1/reply/cache-v2-e3dad5dc2862ff5d9a51.json
build/.cmake/api/v1/reply/codemodel-v2-b8f75c3673be98117bec.json
build/.cmake/api/v1/reply/index-2021-08-20T02-21-56-0445.json
build/.cmake/api/v1/reply/target-source_lib-Debug-114b29b19e48084e68b5.json
build/.cmake/api/v1/reply/target-test-Debug-f5e559aac433fdb71127.json
build/.cmake/api/v1/reply/index-2021-08-20T06-03-45-0911.json
build/.cmake/api/v1/reply/index-2021-08-20T13-05-34-0316.json
other_stuff/funny_output.tga
other_stuff/model_tri_zbuffer.png
build/.cmake/api/v1/reply/index-2021-08-21T05-42-32-0491.json
build/.cmake/api/v1/reply/codemodel-v2-45f8bb5e4c2b80be79c7.json
.gitignore
build/.cmake/api/v1/reply/target-source_lib-Debug-4b3f683ecd23203774c0.json
build/.cmake/api/v1/reply/index-2021-08-21T07-43-31-0180.json
build/.cmake/api/v1/reply/target-test-Debug-7a176eaec48d6d754797.json
other_stuff/funny_output.png
other_stuff/output.png
